// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Press Start 2P", system-ui',
  $button-family: '"Press Start 2P", system-ui',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $purple,
  $link: $pink,
  $control-border-width: 2px,
  $input-shadow: none
);

@use "_custom-mixins.scss" as custom-mixins;
@use "_color-variants.scss" as color-variants; // Use a namespace for clarity

// Import the Google Font
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
  --bulma-radius: 0;
  // --bulma-radius-rounded: 0;
  cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'%3e%3cg transform='rotate(45 256 256)'%3e%3crect id='r' x='16' y='216' width='480' height='80' rx='14'/%3e%3cuse href='%23r' transform='rotate(90 256 256)'/%3e%3c/g%3e%3c/svg%3e") 16 16, pointer;
}

// fix for mobile device flashing on button press
body {
  @include custom-mixins.no-tap-highlight();
}

.is-raised {
  --button-depth: 2px;
  --highlight: black;
  --hover-highlight: rgba(0, 0, 0, 0.5);

  box-shadow: var(--highlight) 0px calc(var(--button-depth) * 2) 0 0;

  // color: color-mix(in srgb, currentColor 70%, transparent);
  opacity: 0.9;

  &:active, &.is-active {
    // color: rgb(from currentColor r g b / 1);
    opacity: 1;
    box-shadow: var(--hover-highlight) 0px calc(var(--button-depth) / 2) 0px var(--button-depth) inset;
    transform: translate(0, var(--button-depth));
  }

  @include color-variants.generate-color-variant-styles();
}